/*Adição de fontes remotas salvas especialmente para o projeto*/
@font-face {
    font-family: One;
    src: url(fontes/EmblemaOne-Regular.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(fontes/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: School;
    src: url(fontes/Schoolbell-Regular.ttf);
}

/*Adição de detalhes a fim de melhorar o design do site*/

body{
    background: #0c1124;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    min-height: 350px;
    border: 4px solid transparent;
    border-image: linear-gradient(135deg, red, blue) 1;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    background: rgba(43, 46, 82, 0.6);
    backdrop-filter: blur(10px);
}

#temp{
    text-align: center;
    font-size: 20px;
    font-family: School;
    color: #d9e1ff;
    border-radius: 15px;
    border: 2px, solid #b394ff;
    background-color: rgba(33, 28, 51, 0.6);
    backdrop-filter: blur(10px);
}

#nome{
    font-size: 25px;
    margin-bottom: -10px;
    margin-top: 8px;
    font-family: One;
    color: #4cc9f0 
}


button{
    font-size: 25px;
    font-family: One;
    background-color: rgb(209, 41, 41);
    border-radius: 15px;
    margin-bottom: -10px;
}

button:hover{
    background-color: rgb(181, 34, 34);
    cursor: pointer;
}

label{
    font-size: 20px;
    font-family: Orbitron;
    color: #d9e1ff
}

input[type="radio"]:checked + label{ 
    /*Mudar a cor da label quando seu respectivo botão for selecionado*/
    color: #9fa5bb
}

label:hover{
    /*Adicionar uma sombra quando passar o mouse pela label*/
    text-shadow: 3px 3px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.res{
    font-size: 20px;
    margin-top: -3px;
    font-family: Orbitron;
    font-weight: bold;
    color: #b394ff
}

#resultado{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 280px;
    height: 100px;
    border: 4px solid transparent;
    border-image: linear-gradient(135deg, purple, blue) 1;
    border-top: none;
    margin-top: 1px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

#resultado.show{
    opacity: 1;
    max-height: 200px;
}